[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macro.cfg]

[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_440035001550535556323420-if00
restart_method: command

[mcu therm]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_048021000F4330344E333720-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[extruder]
enable_pin: !PE0
step_pin: PE6
dir_pin: PA14                                                      # Add ! if moving opposite direction
full_steps_per_rotation: 200                                       # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor

rotation_distance:  22.23
gear_ratio: 50:10

microsteps: 16

nozzle_diameter: 0.4
filament_diameter: 1.750

heater_pin: PA2                                                  
sensor_type: PT1000    

sensor_pin: PF5
min_temp: 0
max_temp: 400
min_extrude_temp: 170
max_extrude_only_distance: 300
pressure_advance: 0.028
pressure_advance_smooth_time: 0.020000
max_extrude_cross_section: 20


[tmc2240 extruder]
cs_pin: PD3
spi_bus: spi1
interpolate: False
run_current: 0.6
stealthchop_threshold: 0       
rref: 12000

#####################################################################
#   Motors
#####################################################################

# Driver3
[stepper_x1]
enable_pin: !PA0
step_pin: PG4
dir_pin: PC1
microsteps: 32
rotation_distance: 40

[tmc2240 stepper_x1]
cs_pin: PC7
spi_bus: spi1
rref: 12000
run_current: 1.7
stealthchop_threshold: 0


# Driver4
[stepper_y]
enable_pin: !PG2
step_pin: PF9
dir_pin: PF10
microsteps: 32
rotation_distance: 40

endstop_pin: ^PG10
position_endstop: 293
position_min: 0
position_max: 293
homing_speed: 50
homing_retract_dist: 5
second_homing_speed: 10
homing_positive_dir: true

[tmc2240 stepper_y]
cs_pin: PF2
spi_bus: spi1
rref: 12000
stealthchop_threshold: 0
run_current: 1.7

# Driver5
[stepper_x] 
enable_pin: !PF1
step_pin: PC13
dir_pin: PF0
microsteps: 32
rotation_distance: 40
endstop_pin: ^PG11
position_endstop: 294
position_min: 0
position_max: 294
homing_speed: 50
homing_retract_dist: 0
second_homing_speed: 10
homing_positive_dir: true

[tmc2240 stepper_x] # old: y1
cs_pin: PE4
spi_bus: spi1
rref: 12000
stealthchop_threshold: 0
run_current: 1.7

# Driver6
[stepper_y1] 
enable_pin: !PD4
step_pin: PE2
dir_pin: PE3
microsteps: 32
rotation_distance: 40


[tmc2240 stepper_y1]
cs_pin: PE1
spi_bus: spi1
rref: 12000
stealthchop_threshold: 0
run_current: 1.7


# Driver0
[stepper_z]
enable_pin: !PF14
step_pin: PF13
dir_pin: !PF12
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

position_max: 250
position_min: -5

[tmc2240 stepper_z]
cs_pin: PC4
spi_bus: spi1
rref: 12000
stealthchop_threshold: 999999
run_current: 0.800

# Driver1
[stepper_z1]
enable_pin: !PF15
step_pin: PG0
dir_pin: !PG1
microsteps: 16
rotation_distance: 8

[tmc2240 stepper_z1]
cs_pin: PD11
spi_bus: spi1
rref: 12000
stealthchop_threshold: 999999
run_current: 0.800

# Driver2
[stepper_z2]
enable_pin: !PG5
step_pin: PF11
dir_pin: !PG3
microsteps: 16
rotation_distance: 8

[tmc2240 stepper_z2]
cs_pin: PC6
spi_bus: spi1
rref: 12000
stealthchop_threshold: 999999
run_current: 0.800

[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
voltage: 36

[autotune_tmc stepper_x1]
motor: omc-17hs19-2504s-h
voltage: 36

[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
voltage: 36

[autotune_tmc stepper_y1]
motor: omc-17hs19-2504s-h
voltage: 35


#####################################################################
#   Bed Mesh + Probe
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_7A4B73935154354D38202020FF0A1731-if00
is_non_critical: True
home_method: contact
home_method_when_homed: contact
home_autocalibrate: unhomed
x_offset: 0
y_offset: 35
mesh_main_direction: x
mesh_runs: 2
speed: 5
lift_speed: 100
home_xy_position: 140,140 ; Also change the position in zero_reference_position
home_xy_move_speed: 300
home_z_hop_speed: 50
home_z_hop: 15
home_y_before_x: true
contact_max_hotend_temperature: 175
accel_axes_map: -x, -y, z

[bed_mesh]
speed: 400
horizontal_move_z: 15
mesh_min: 35, 35
mesh_max: 230, 230
probe_count: 25, 25
mesh_pps: 3, 3 #specifies how many points to interpolate for each segment along the X and Y axes
algorithm: bicubic
zero_reference_position: 140,140 ; Also change the value in beacon -> home_xy_position
adaptive_margin: 5

[z_tilt]
z_positions:
    -66, 11
    150, 352
    366, 11
points:
    30, 40
    150, 245
    270, 40

speed: 200
horizontal_move_z: 20
adaptive_horizontal_move_z: True
retries: 5
retry_tolerance: 0.02
use_probe_xy_offsets: true

#####################################################################
#   Resonance
#####################################################################

[input_shaper]
shaper_freq_x: 167
#shaper_type_x: ei
damping_ratio_x: 0.015

shaper_freq_y: 114
#shaper_type_y: ei
damping_ratio_y: 0.029

shaper_type: ei

[shaketune]

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20
accel_per_hz: 75
sweeping_accel: 400
sweeping_period: 0
max_freq: 200

[motors_sync]
axes: x,y
#    Axes on which calibration will be performed.
accel_chip: beacon


#####################################################################
#   temperature sensor
#####################################################################

[temperature_sensor chamber_top_front_left]
sensor_type: Generic 3950
sensor_pin: therm:PA0
min_temp: 0
max_temp: 120

[temperature_sensor chamber_top_front_right]
sensor_type: Generic 3950
sensor_pin: therm:PA1
min_temp: 0
max_temp: 120

[temperature_sensor chamber_bottom_front_left]
sensor_type: Generic 3950
sensor_pin: therm:PA4
min_temp: 0
max_temp: 120

#PA0 -> Top Front Left
#PA1 -> Top Front Right
#PA4 -> Bottom Front Left

#####################################################################
#   Heaters
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
max_power: 1
min_temp: 0
max_temp: 120

#####################################################################
#   Fans
#####################################################################

[multi_pin tmc_fans] 
pins: PD12, PD13

[controller_fan tmc_fan]
pin: multi_pin: tmc_fans
max_power: 1
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_z, stepper_z1, stepper_z2, extruder

[fan]
pin: PB0
hardware_pwm: True
cycle_time: 0.0001        # 10 kHz - the controller accepts 2–50 kHz
max_power: 1
tachometer_pin: ~PC5
tachometer_ppr: 2
tachometer_poll_interval: 0.0005

[fan_spinup]
sample_time: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.642
#*# pid_ki = 3.041
#*# pid_kd = 254.560
#*# pid_version = 1
#*# pid_target = 105.00
#*# pid_tolerance = 0.0200
#*#
#*# [beacon model default]
#*# model_coef = 1.367903697754778,
#*# 	  1.674330417331617,
#*# 	  0.750743139935947,
#*# 	  0.34965147512395633,
#*# 	  0.44545984868768,
#*# 	  0.6040540996447034,
#*# 	  -0.33317527135160535,
#*# 	  -0.6854568883669722,
#*# 	  0.3705002217436982,
#*# 	  0.4609849862848716
#*# model_domain = 1.8025456974506058e-07,1.864812392799071e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 24.019729
#*# model_offset = 0.00000
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 285.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 10.534
#*# pid_ki = 0.405
#*# pid_kd = 68.473
#*#
#*# [motors_sync]
#*# steps_model_x = quadratic,
#*# 	  213.5748602174157,
#*# 	  636.3079061110916,
#*# 	  821.8052668053492
#*# steps_model_y = quadratic,
#*# 	  213.5748602174157,
#*# 	  636.3079061110916,
#*# 	  821.8052668053492
